body {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);
}

.main-container {
    border-style: solid 1px;
    border-radius: 2.8%;
    border-color: hsl(215, 32%, 27%);
    width: 380px;
    height: 625px;
    background-color: hsl(216, 50%, 16%);
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-image img {
    width: 85%;
    height: auto;
    border-radius: 2.8%;
    margin-top: 25px;
}

.card-header {
    margin-top: 25px;
    margin-left: 27px;
    color: hsl(0, 0%, 100%);
    font-size: small;
}

.card-header h1 {
    font-family: "Outfit";
}

.card-main {
    margin-top: 20px;
    margin-left: 27px;
}

.card-main p {
    text-align: left;
    line-height: 1.5;
    width: 300px;
    font-family: "Outfit";
    color: hsl(215, 51%, 70%);
    font-size: 18px;
}

.card-ethereum {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 27px;
    margin-right: 27px;
}

.ethereum-span {
    font-family: "Outfit";
    font-size: 18px;
    color:hsl(178, 100%, 50%);
    margin-left: 5px;
    margin-bottom: 2px;
}

.clock-span {
    font-family: "Outfit";
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

hr {
    width: 85%;
    border: 1px solid hsl(215, 32%, 27%);
}

/*Carry on from here*/

.card-footer {
    margin-left: 27px;
    margin-top: 20px;
    display: flex;
}

.card-footer img {
    height: 37px;
    border: 1px solid white;
    border-radius: 50%;
}

.card-footer p {
    font-size: 18px;
    font-family: "Outfit";
    color: hsl(215, 51%, 70%);
    margin-top: 10px;
    margin-left: 15px;
}

.card-footer span {
    color: white;
}

.footer p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 350px;
    text-align: center;
    color: hsl(215, 51%, 70%);
    font-family: "Outfit";
    line-height: 1.3;
}